<div class="container">
  <div class="navbar">
    <button mat-mini-fab aria-label="New campaign">
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-mini-fab
      aria-label="Connect Metamask"
      (click)="onConnectWallet()"
    >
      <mat-icon>power</mat-icon>
    </button>
  </div>
  <div class="menu">
    <div class="menu-items">
      <button
        *ngFor="let category of categories"
        [class.selected]="selectedCategory === category"
        (click)="onChangeCategory(category)"
      >
        {{ category }}
      </button>
    </div>
  </div>
  <div class="content">
    <mat-card *ngIf="!account">
      <mat-card-title>Uh oh...</mat-card-title>
      <mat-card-content>
        <p>Please connect your Metamask wallet to pledge to campaigns</p>
        <button mat-raised-button color="accent" (click)="onConnectWallet()">
          Connect
        </button>
      </mat-card-content>
    </mat-card>
    <mat-card *ngFor="let campaign of campaigns">
      <mat-card-title>{{ campaign.title }}</mat-card-title>
      <p>{{ campaign.description }}</p>
      <mat-progress-bar
        mode="determinate"
        [value]="(campaign.currentFunding / campaign.goal) * 100"
      ></mat-progress-bar>
      <h4>{{ campaign.contractAddress }}</h4>
      <button
        *ngIf="account"
        mat-raised-button
        color="accent"
        (click)="onPledge(campaign)"
      >
        Pledge 250,000 Wei
      </button>
    </mat-card>
  </div>
</div>
