.container {
  display: grid;
  grid-template-rows: 60px 100px 1fr;

  .navbar {
    background-color: #ffffffe6;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin: 0 10px;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    mat-card {
      background-color: #ffffffe6;
      width: 500px;
      height: 80%;
      box-shadow: none;
      text-align: center;
    }
  }
}
